:root {
  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto', sans-serif;
  --decorate-font: 'Kaushan Script', sans-serif;
  --nav-color: #95e1d3;
  --nav-hover-color: #f38181;
  --main-font-color: #333333;
  --second-font-color: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  margin-top: 26px;
  margin-bottom: 128px;
}

.nav-site {
  font-family: var(--first-font);
  /* color: var(--nav-color); */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.site-logo {
  color: var(--nav-color);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 58px;
}

.nav-list__link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--nav-color);
  position: relative;
  transition: all 0.2s linear;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--nav-hover-color);
}

.nav-list__link::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--nav-hover-color);
  position: absolute;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.nav-list__link:hover::after,
.nav-list__link:focus::after {
  opacity: 1;
  visibility: visible;
}

/* MAIN */
.main-wrapper {
  margin-bottom: 80px;
}

.services-wrapper {
  margin-bottom: 90px;
}

.services-title__wrapper {
  margin-bottom: 64px;
}

.section-title {
  font-family: var(--first-font);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-color);
}

.section-title__decor {
  display: block;
  font-family: var(--decorate-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  color: var(--main-font-color);
  padding-bottom: 18px;
}

.section-title__decor::first-letter {
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--nav-hover-color);
  margin: 40px auto 0;
}

/* Services */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services-list__item {
  text-align: left;
  width: 380px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: 20px top;
}

.services-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 98px;
}

.services-list__item__title {
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--main-font-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services-list__item__description {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: var(--second-font-color);
}

.photo {
  background-image: url('../img/icon/alarm.png');
}

.design {
  background-image: url('../img/icon/graph.png');
}

.creativ {
  background-image: url('../img/icon/monitor.png');
}

.seo {
  background-image: url('../img/icon/book.png');
}

.css-html {
  background-image: url('../img/icon/house.png');
}

.digital {
  background-image: url('../img/icon/aim.png');
}

/* Team */
.team-title__wrapper {
  margin-bottom: 44px;
}

.team-description {
  font-family: var(--first-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--second-font-color);
  padding: 0 130px;
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  width: 380px;
}

/* oerlay start */
.team-img__wrapper {
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.2s linear;
}

.overlay-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-clip: padding-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}

.overlay-social__list {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-social__list__item:not(:last-child) {
  margin-right: 1px;
}

.overlay-social__list__link:hover {
  background-color: var(--nav-color);
}

.overlay-social__list__link {
  display: block;
  width: 55px;
  height: 56px;
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s linear;
}

.team-img__wrapper:hover .overlay-social {
  visibility: visible;
  opacity: 1;
  box-shadow: 10px 10px var(--nav-color);
}

.team-img__wrapper:hover {
  transform: translate(-10px, -10px);
}

.facebook-icon {
  background-image: url('../img/social/facebook.png');
}

.twitter-icon {
  background-image: url('../img/social/twitter.png');
}

.pinterest-icon {
  background-image: url('../img/social/pinterest.png');
}

.instagramm-icon {
  background-image: url('../img/social/instagram.png');
}

.overlay-visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* overlay end */

.team-list__item__title {
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.team-list__item__description {
  font-family: var(--second-font);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: var(--second-font-color);
}

/* FOOTER */
.footer {
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 12px;
}

.copiright {
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--main-font-color);
}

.copiright-link {
  color: var(--nav-hover-color);
}

.contact-form {
  display: flex;
}

.contact-form__input {
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 12px;
  width: 230px;
  height: 40px;
}

.contact-form__input::placeholder {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}

.contact-form__button {
  width: 150px;
  height: 40px;
  border: none;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--nav-color);
  cursor: pointer;
}
